body{

	background-color:#4A87A8  ;
	
}
#main{
	background-color: #658094    ;
	margin: 5%;
	display: flex;
	justify-content:space-around;
	border-radius: 4%;
}
.sub{
background-color:#33D0C7  ;
width: 25%;
margin: 4%;
border-radius: 5%;
text-align: center;
box-shadow: 4px 4px 5px 5px;

}
img{
	width: 70%;
	height: 50%
	border-radius:15%;
	margin: 4%;
}
.sub:hover{
	color: #8A4AA8 ;
}
p{
	font-size: 20px;
}
h3{
	color:black;
}

